/* Ossian Hempel */

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }


body, html {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* Wrapper for the content */
#wrapper {
  background-color: lightgray;
  color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  background-image: url(images/dramatic-white-clouds-blue-sky-from-airplane-window-view-colorful-sunset-cloudscape-background.jpg); /* <a href="https://www.freepik.com/free-ai-image/dramatic-white-clouds-blue-sky-from-airplane-window-view-colorful-sunset-cloudscape-background_39518250.htm#query=background&position=40&from_view=keyword&track=sph">Image by svstudioart</a> on Freepik */
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;

}

#upper-section {
  width: 100%;
  display: flex;
  height: 33vh;

}

#search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

#weather-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}

#search-location {
  height: 35px;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 20vw;
  border: none;
  border-radius: 7px;
  min-width: 150px;
  max-width: 300px;
  padding-left: 10px;

}

#search-button {
  background: none;
  border: none;
}


.search-error-message {
  display: none;
  margin-left: 1vw;
}

#mid-section {
  width: 100%;
  display: flex;
  height: 33vh;

}

#current-weather-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.15); /* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/background-color */ 
  border-radius: 20px;
  padding: 10px;
}

.current-condition {
  font-size: 30px;
}

.current-weather-container-lower {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.location {
  font-size: 60px;
  font-weight: bold;
  margin: auto;
}

.current-weather-container-lower-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  border-left: 1px solid rgb(241, 241, 241);
  margin: auto;
  padding-left: 20px;
  font-size: 20px;
}

.current-temperature {
  font-size: 100px;
  font-weight: bolder;
}

#lower-section {
  width: 100%;
  display: flex;
  height: 33vh;
  /* border: 1px solid black; */
  justify-content: center;
}

#forecasted-weather-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  width: 90%;
  justify-content: end;
  padding-bottom: 50px;
}

.daily-hourly-btn-container {
  display: flex;
  gap: 5px;
  /* border: 1px solid red; */
}

#daily-btn, #hourly-btn {
  background: none;
  color: rgb(241, 241, 241);
  border: none;
  font-size: 16px;
  height: 30px;
}

.forecast-container {
  display: flex;
  gap: 1vw;
  /* border: 1px solid blue; */
  margin-top: 20px;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;

}

.forecast-element {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  height: 20vw;
  width: 15vw;
  max-width: 200px;
  max-height: 200px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.hourly-forecast-time, .daily-forecast-date {
  font-size: 1.2em;
  font-weight: bold;
}

/* Imported Google Icon */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 40;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(241, 241, 241);  
  font-size: 30px !important;  /* Use !important to overrule all other selectors */
}

.material-symbols-outlined:hover, #daily-btn:hover, #hourly-btn:hover {
  transform: scale(1.1); /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scale */
}

/* Use chaining selectors to increase specificity */
#daily-btn.btn-active, #hourly-btn.btn-active {
  border: 2px solid rgb(241, 241, 241); /* Style the button which is currently selected */
  border-radius: 5px;
}

.current-icon, .daily-forecast-icon, .hourly-forecast-icon {
  height: 64px;
  width: 64px;
}



/* ---------- Mobile version ---------- */
@media screen and (max-width: 600px) {
  #wrapper {
    overflow-y: scroll;
  }
  
  #upper-section {
    /* height: 10vh; */
    height: auto;
    justify-content: center;
  }
  
  #weather-form {
    margin-top: 3vh;
  }
  
  #search-location {
    width: 30vw;
    margin-bottom: 50px;
  }
  
  .search-error-message {
    margin-left: 0;
  }
  
  #mid-section {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  
  }
  
  #current-weather-container {
    padding: 10vh 5vh;
    justify-content: center;
    align-items: center;
    max-height: 20vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .current-weather-container-upper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current-weather-container-lower {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .current-condition {
    font-size: 16px;
    transform: rotate(90deg); /* Rotates element 90 degrees */
  }
  
  .location {
    font-size: 50px;
  }
  
  .current-weather-container-lower-right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 0px;
    font-size: 16px;
    border-top: 1px solid rgb(241, 241, 241);
    padding-top: 10px;
    border-left: none;
    width: 100%;
  }
  
  .current-temperature {
    font-size: 90px;
  }
  
  #lower-section {
    height: auto;
    justify-content: center;
  }

  .daily-hourly-btn-container {
    margin: auto;
  }
  
  #forecasted-weather-container {
    max-width: 90%;
    padding-bottom: 0px;
  }
  
  .forecast-container {
    flex-wrap: wrap;
    height: auto;
    /* min-height: 15vh; */
  }
  
  .forecast-element {
    align-items: space-evenly;
    max-width: 25vw;
    /* min-height: 25vw; */
    height: auto;
    padding: 10px;
  }
}
